* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Specifies default width, height, padding and margin properties for page */
}

body {
    background-color: #d9dcd6;
    /* Sets background of page to white */
}
p {
    font-size: 16px;
    /* sets default font size in paragraph tags to 16px */
}

a {
    color: #ffffff;
    text-decoration: none;
    /* Turns nav bar links white and strips their default link visuals  */
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.seo {
    color: #d9dcd6; 
    display: inline-block;
    font-size: 48px;
    /* Sets main title text to large white */
}

.headerlist {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* Making navbar list pretty and sticking it to the right of its available position. */
}

.headbar {
    list-style-type: none;
    /*removes bullet points from navbar list */
}

li {
    display: inline-block;
    margin-left: 25px; 
    /* All lists are displayed inline with a left margin by default */
}

.backgroundpic {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    /* Properly displays the background picture centered in background */
}

.left-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    /* Makes it so that the main content won't take up the whole page, to fit the aside in later */
}
.float-left {
    float: left;
    margin-right: 25px;
}
/* Float left and float right are to properly place the images in main for aesthetic purposes */
.float-right {
    float: right;
    margin-left: 25px;
}

#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;

}

.left-content-boxes {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border-radius: 0 70px 20px 20px;
}
.left-content img {
    max-height: 200px;
    border-radius: 30px 30px 10px 10px;
}

.left-content h2{
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.footer h2 {
    font-size: 20px;
}
